<!-- app/views/visitors_map/page.html.erb -->
<!DOCTYPE html>
<html>
  <head>
    <style>
      html, body {
        margin: 0;
        height: 100%;
      }
      img {
        width: 100vw;
        height: 100vh;
        object-fit: contain;
      }
    </style>
  </head>
  <body>
    <img src="/visitors/map.png" />
  </body>
</html>